@model IEnumerable<AdvertisementPortal.Core.Models.Domains.Advertisement>

@{
	ViewData["Title"] = "Strona główna";
}

<h1>Lista ogłoszeń</h1>

<div class="alert alert-warning mt-3" role="alert">Nie znaleziono ogłoszeń!</div>

<div class="row">

	<div class="card card-body m-3 col-4">
		<img class="card-img-top" src="https://www.thesaurus.com/e/wp-content/uploads/2021/11/20211104_articles_1000x562-790x310.png" alt="Ogłoszenie">
		<div class="card-body">
			<h5 class="card-title">Ogłoszenie</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Zobacz szczegóły</a>
		</div>
	</div>

	<div class="card card-body m-3 col col-4">
		<img class="card-img-top" src="https://www.thesaurus.com/e/wp-content/uploads/2021/11/20211104_articles_1000x562-790x310.png" alt="Ogłoszenie">
		<div class="card-body">
			<h5 class="card-title">Ogłoszenie</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Zobacz szczegóły</a>
		</div>
	</div>

</div>

<div class="row">

	<div class="card card-body m-3 col-4">
		<img class="card-img-top" src="https://www.thesaurus.com/e/wp-content/uploads/2021/11/20211104_articles_1000x562-790x310.png" alt="Ogłoszenie">
		<div class="card-body">
			<h5 class="card-title">Ogłoszenie</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Zobacz szczegóły</a>
		</div>
	</div>

	<div class="card card-body m-3 col col-4">
		<img class="card-img-top" src="https://www.thesaurus.com/e/wp-content/uploads/2021/11/20211104_articles_1000x562-790x310.png" alt="Ogłoszenie">
		<div class="card-body">
			<h5 class="card-title">Ogłoszenie</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Zobacz szczegóły</a>
		</div>
	</div>

</div>


<div class="row">

	<div class="card card-body m-3 col-4">
		<img class="card-img-top" src="https://www.thesaurus.com/e/wp-content/uploads/2021/11/20211104_articles_1000x562-790x310.png" alt="Ogłoszenie">
		<div class="card-body">
			<h5 class="card-title">Ogłoszenie</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Zobacz szczegóły</a>
		</div>
	</div>

	<div class="card card-body m-3 col col-4">
		<img class="card-img-top" src="https://www.thesaurus.com/e/wp-content/uploads/2021/11/20211104_articles_1000x562-790x310.png" alt="Ogłoszenie">
		<div class="card-body">
			<h5 class="card-title">Ogłoszenie</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Zobacz szczegóły</a>
		</div>
	</div>

</div>
