@using AdvertisementPortal.Core.Models.Domains
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">

	@if (SignInManager.IsSignedIn(User))
	{
			<li class="nav-item btn btn-success mx-1 p-0 mb-2 mb-md-0">
				<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
			</li>
			<li class="nav-item">
				<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="nav-link btn btn-danger text-light mx-1 px-2">
						<i class="fa-solid fa-right-from-bracket"></i>
						Wyloguj się
					</button>
				</form>
			</li>
	}
	else
	{
		<li class="nav-item btn btn-outline-secondary mx-1 p-0 mb-2 mb-md-0">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
				<i class="fa-solid fa-plus"></i>
				Rejestracja
			</a>
		</li>
		<li class="nav-item btn btn-success mx-1 p-0 mb-2 mb-md-0">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
				<i class="fa-solid fa-right-to-bracket"></i>
				Logowanie
			</a>
		</li>
	}
</ul>
